.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  background: #deebdd;
}

.Events {
  box-shadow: 1px, gray;
}

h1 {
  color: #00556e;
  margin-bottom: 50px !important;
}

.PostModalButton {
  height: 40px;
  width: 200px;
  border-radius: 50px;
}

.PostModalMainDiv {
  position: absolute;
    top: 50px;
    right: 120px;
}

.CardMainDiv {
  display: flex;
  justify-content: center;
  /* background-color: black; */
  margin-top: 20px;
  align-items: center;
  padding: 5px;
}

.Events {
  justify-content: center;
  align-items: center;
}

.CardButtons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.EditButton, .DeleteButton {
  height: 40px;
  width: 100px;
}

:root {
  background-color: #deebdd;
}

.Header {

}

.SearchBar {
  border: none;
  /* opacity: 50%; */
  border-bottom: 2px solid;
  width: 260px;
  font-size: large;
  background-color: #deebdd;
  margin-top: -10px;
}

.SearchIcon {
  
}

.maxlength {
  color: red;
  font-size: x-small;
  opacity: 50%;
}

.inputEAndL {
  width: 465px
}

.Header {
  color: rgb(59, 41, 41);
}

.Description {
  font-size: small;
}